<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!-- 类型别名 -->
    <typeAliases>
        <typeAlias alias="Page" type="com.joinsoft.core.persistence.Page" /><!--分页  -->
    </typeAliases>
    
    <!-- 插件配置 -->
    <plugins>
        <plugin interceptor="com.joinsoft.core.persistence.interceptor.PaginationInterceptor">
            <property name="dialect" value="oracle"/>
            <property name="pageSqlId" value=".*page.*"/>
        </plugin>
    </plugins>
</configuration>